.pig {
  display: none;
}

body {
text-align: center;
}

ul {
  text-align: left;
  margin-left: 250px;
}

.rules {
  font-style: italic;
  color: #5f7f98;
  font-size: 15px;
}

#win {
  font-size: 60px;
  color: black;
}

.jumbotron {
  background-color: #ffddeb;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 120px;
}

/*#player-one {
  background-color: #9fbfd8;
}*/

.btn {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.btn-play{
  background-color: #5f7f98;
  color: white;
}

.btn-hold {
  background-color: #ff91ac;
  float: right;
  margin-right: 180px;
}

.btn-roll {
  background-color: #ffb7d2;
  float: left;
  margin-left: 180px;
}

p {
  font-size: 40px;
  border: solid #000000;
  padding: 35px;
  margin: 0 230px 10px 230px;
}

.score-total, .score-total-two {
  background-color: #f7ce5d;

}

.jumbotron h1 {
  font-size: 120px;
  color: #5f7f98;
}
